@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,900;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");

// Screen sizes
$sm: 576px;
$md: 768px;
$l: 992px;
$xl: 1200px;

// Colors
$color-primary: #6F12D8;
$color-primary-light: #9463CA;
$color-accent: #6A6A6A;
$color-accent-light: #CFCFCF;
$color-back-light: #EAEBEE;
$color-red: rgb(192, 38, 38);

// Fonts 
$font-lato: 'Lato', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-roboto: 'Roboto', sans-serif;

%fullSpace {
	width: 100%;
	height: 100%;
}

// Box format
:root {
    box-sizing: border-box;
}

*,
*::before,
**::after {
    box-sizing: inherit;
}

html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	background-color: white;
	font-family: $font-nunito;
    margin: 0;
    padding: 0;
}
